<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js'></script>
  </head>
  <body>
    <h1>登录</h1>

	<form action="/auth/login" method="post">
		Your name: <input type="text" name="username">
        <input type="text" name="password">
         <input  name="type" value="1" type="hidden"><!--普通用户登录-->
		<button type="submit">登录</button>
	</form>
 	
  </body>
</html>
